# Configuration files
config.env
.env

# Generated data files
*.json
*.txt

# Generated media and debug files
*.html
*.png
*.jpg
*.jpeg

# Python cache
*.pyc
__pycache__/

# IDE folders
.idea/
.vscode/
